* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =============== BOX CONNECTORS =============== */
.board {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 20px;

  .box {
    /* position: absolute; */
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--connector-line-color);
  }

  .connector {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      width: 100%;
      height: 0px;
      border-top: var(--connector-line-thickness) solid
        var(--connector-line-color);
    }

    .startLine {
      position: relative;
      align-self: flex-start;
      width: 50%;
      height: 0px;
    }
    /* start-dot */
    .startLine[data-dot="true"]::before {
      position: absolute;
      content: "";
      top: 50%;
      left: var(--connector-dot-x-pos);
      width: var(--connector-dot-size);
      height: var(--connector-dot-size);
      border-radius: 50%;
      transform: translateY(calc(-50% - (var(--connector-line-thickness) / 2)));
      background-color: var(--connector-line-color);
    }

    .endLine {
      position: relative;
      align-self: flex-end;
      width: 50%;
      height: 0px;
    }
    /* end-dot */
    .endLine[data-dot="true"]::before {
      position: absolute;
      content: "";
      top: 50%;
      right: var(--connector-dot-x-pos);
      width: var(--connector-dot-size);
      height: var(--connector-dot-size);
      border-radius: 50%;
      transform: translateY(calc(-50% - (var(--connector-line-thickness) / 2)));
      background-color: var(--connector-line-color);
    }
    .endLine[data-dot="true"][data-dot-left="true"]::before {
      left: var(--connector-dot-x-pos);
      right: unset;
    }

    .centerLine {
      display: flex;
      flex-direction: column;
    }
    .centerLineTop {
      width: 0px;
      height: 50%;
      border: 0 solid var(--connector-line-color);
    }
    .centerLineBottom {
      width: 0px;
      height: 50%;
      border: 0 solid var(--connector-line-color);
    }

    .line[data-is-active="true"],
    .centerLineTop[data-is-active="true"],
    .centerLineBottom[data-is-active="true"] {
      border-color: var(--connector-line-color-active);
    }

    .startLine[data-is-active="true"]::before,
    .endLine[data-is-active="true"]::before {
      background-color: var(--connector-line-color-active);
    }
  }
}
