* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =============== BOX CONNECTORS =============== */
.board {
  /* position: relative; */
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 20px;

  .box {
    /* position: absolute; */
    width: 200px;
    height: 150px;
    background: #eff6ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #93c5fd;
  }

  .connector {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      border-top: 4px solid #93c5fd;
      width: 100%;
      height: 0px;
    }

    .startLine {
      position: relative;
      width: 50%;
      height: 0px;
      align-self: flex-start;
    }
    /* start-dot */
    .startLine[data-attr-dot="true"]::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background-color: #93c5fd;
      left: -5px;
      top: 50%;
      transform: translateY(calc(-50% - 2px));
      border-radius: 50%;
    }

    .endLine {
      position: relative;
      width: 50%;
      height: 0px;
      align-self: flex-end;
    }
    /* end-dot */
    .endLine[data-attr-dot="true"]::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background-color: #93c5fd;
      right: -5px;
      top: 50%;
      transform: translateY(calc(-50% - 2px));
      border-radius: 50%;
    }
    .endLine[data-attr-dot="true"][data-attr-dot-left="true"]::before {
      left: -5px;
      right: unset;
    }

    .centerLine {
      display: flex;
      flex-direction: column;
    }
    .centerLineTop {
      border-color: #93c5fd;
      border-style: solid;
      border-width: 0;
      width: 0px;
      height: 50%;
    }
    .centerLineBottom {
      border-color: #93c5fd;
      border-style: solid;
      border-width: 0;
      width: 0px;
      height: 50%;
    }
  }
}
